.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.panel {
    margin-bottom: 20;
    background-color: rgba(255, 255, 255, 0.38);
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.test
{
    padding-left: 32%;
    padding-right: 32%;
    padding-top: 100px;
}

.innertest{
 padding-left: 5%;
 padding-right: 5%; 
 padding-bottom: 5%;  
}
.btnpad{
   padding-left: 50%; 
  
}
.btnbg
{
  background-color:rgba(53, 53, 47, 0.84);  
  border-color: #2a2d2f;
}

.btnbg:hover{
  background-color:rgba(29, 29, 20, 0.84);  
  border-color: #2a2d2f;
}

a {
    color: #2d0505;
    text-decoration: underline;
}
a:hover{
    color: #151313;
    text-decoration: underline;
}

@media (max-width: 767px){

    .test{
   padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    }
}

.fg{
    padding-left: 50%;
    font-size: 14px;
    color: #042b4c;
}
.fg:hover{
    color: #021525;
}
