.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.test
{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
}

@media (max-width: 767px){

    .test{
   padding-left: 3%;
    padding-right: 3%;
    padding-top: 100px;
    }
}

.panel-heading {
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
}
.panel-default>.panel-heading {
    color: black ;
   
}

   .transparent{
  background:rgba(255,255,255,0.5);
}
.panel{
     background-color: rgba(224, 218, 218, 0.33);
     border-radius: 10px;
}