<div *ngIf="showForm">
    <div class="container-fluid">
      

      <h2 class="text-center login-title">User Registration</h2>
                  
                  
        <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()">

            <div class="row">

                <div class="col-sm-6 col-md-4">

                      <div class="form-group">
                      <label [hidden]="!Name" for="name">Name</label>
                      <label [hidden]="Name" for="name">&nbsp;</label>
                      <input type="text" [(ngModel)]="Name" name="Name" class="form-control input-lg" placeholder="Name" pattern=".{4,}" title="4 or more characters" required>
                      </div>

                      <div class="form-group">
                      <label for="email" [hidden]="!Email">Email Address</label>
                      <label for="email" [hidden]="Email">&nbsp;</label>
                      <input type="email" [(ngModel)]="Email" name="Email" class="form-control input-lg" placeholder="Email" required>
                      </div>
                      
                      <div class="form-group">
                      <label [hidden]="!Dob" for="dob">Date of Birth</label>
                      <label [hidden]="Dob" for="dob">&nbsp;</label>
                    <input type="text" [(ngModel)]="Dob" name="Dob" class="form-control input-lg" placeholder="Date of Birth" onfocus="(this.type='date')" required>
                      </div>

                      <br>

                      <div class="form-group">
      
                      <label for="sex" class="checkbox-inline "> 
                      <input type="radio" class="big" name="Sex" value="Male" [(ngModel)]="Sex" required> 
                      <strong> Male </strong>
                      </label>
                  
                      <label for="sex" class="checkbox-inline">
                      <input type="radio"  name="Sex" class="big" value="Female" [(ngModel)]="Sex" required >
                      <strong> Female </strong>
                    </label>
          
                      </div>

              </div>
              <div class="col-sm-6 col-md-4">

                      <div class="form-group">
                      <label for="work" [hidden]="!work">Work</label>
                      <label for="work" [hidden]="work">&nbsp;</label>
                      <input type="text" [(ngModel)]="work" name="Work" class="form-control input-lg" placeholder="Work" required>
                      </div>

                    <div class="form-group">
                      <label for="Area" [hidden]="Area == '0'">Area</label>
                        <label for="Area" [hidden]="Area != '0'">&nbsp;</label>
                        <select class="form-control input-lg" required [(ngModel)]="Area" name="Area" >
                          <option [disabled]="true" [value]="0">Area</option>
                      <option *ngFor="let p of area" [value]="p">{{p}}</option>
                      </select>
                      </div>

                      <div class="form-group">
                      <label for="cArea" [hidden]="C_Area == '0'">Current living Area</label>
                      <label for="cArea" [hidden]="C_Area != '0'">&nbsp;</label>
                        <select class="form-control input-lg" required [(ngModel)]="C_Area" name="C_Area">
                      <option [disabled]="true" [value]="0">Current living Area</option>
                      <option *ngFor="let p of area" [value]="p">{{p}}</option>
                      </select>
                      </div>

                      <div class="form-group">
                      <label for="Reference" [hidden]="!Reference">Reference. ( Who gave reference)</label>
                      <label for="Reference" [hidden]="Reference">&nbsp;</label>
                      <input type="text" class="form-control input-lg" required [(ngModel)]="Reference" name="Reference" placeholder="Reference. ( Who gave reference)">
                      </div>

                    </div>

                    <div class="col-sm-6 col-md-4">

                      <div class="form-group">
                      <label for="pno1" [hidden]="!Pno1">Phone_number1</label>
                      <label for="pno1" [hidden]="Pno1">&nbsp;</label>
                      <input type="text" [(ngModel)]="Pno1" name="pno1" class="form-control input-lg" placeholder="Phone_Number1" required>
                      </div>

                      <div class="form-group">
                      <label for="pno1" [hidden]="!Pno2">Phone_number2</label>
                      <label for="pno1" [hidden]="Pno2">&nbsp;</label>
                      <input type="text" [(ngModel)]="Pno2" name="pno2" class="form-control input-lg" placeholder="Phone_Number2" required>
                      </div>

                      <div class="form-group">
                      <label for="pno1" [hidden]="!Skill">Skill_set</label>
                      <label for="pno1" [hidden]="Skill">&nbsp;</label>
                      <input type="text" [(ngModel)]="Skill" name="skill" class="form-control input-lg" placeholder="Skill_set" required>
                      </div>

        

                  </div>

              </div> 
                      <br>
                      <br>

                      <div class="row">

                      <div class="col-sm-6 col-md-4">
                      </div>

                      <div class="col-sm-6 col-md-4 center-block">
                      <button type="submit" class="btn btn-primary btn-lg btn-block" >Register</button>
                      </div>
                      

                      <div class="col-sm-6 col-md-4">
                      </div>

                      </div>

                  
                      

                    </form>
                    
            </div>


</div>
<div *ngIf="!showForm">
  <div class="container-fluid">
    <h2 class="text-center login-title">
      An Email Confirmation has been sent to {{Email}} , Please follow the link provided and create you password. <br><br>
      Once done with that, <a [routerLink]="['/login']">Login here to Continue</a>
    </h2>
  </div>
</div>



                

          
          
